<script lang="ts" setup>
import { computed, onMounted, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

const loading = ref(false)
const post = ref()
const title = ref('')
const valid = computed(() => title.value.length > 3)
const router = useRouter()
const route = useRoute()
const id = route.params.id

const getPost = async () => {
  loading.value = true
  try {
    const res = await fetch(`/api/posts/${id}`)
    if (res.status === 404) throw new Error('Not found')
    const data = await res.json()
    post.value = data
    title.value = post.value.title
  } catch (e) {
    router.push({ name: 'posts' })
  } finally {
    loading.value = false
  }
}

const updatePost = async () => {
  if (!valid.value) return
  try {
    await fetch(`/api/posts/${id}`, {
      method: 'PATCH',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ title: title.value })
    })
    router.push({ name: 'posts' })
  } catch (e) {
    console.log(e)
  }
}

onMounted(() => {
  getPost()
})
</script>

<template>
  <RouterLink :to="{ name: 'posts' }">Back to list</RouterLink>
  <h2>Edit post — {{ id }}</h2>

  <form @submit.prevent="updatePost">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" v-model="title" />
    </div>

    <button type="submit">Update</button>
  </form>
</template>
