<script setup lang="ts">
import { computed } from 'vue'
import { isAuthed } from '@/lib/auth'

const authenticated = computed(() => isAuthed())
</script>

<template>
  <main>
    <h1>Full stack test</h1>
    <RouterLink v-if="authenticated" to="/posts">View posts</RouterLink>
    <RouterLink v-else to="/auth">Login to continue</RouterLink>
  </main>
</template>
