<script lang="ts" setup>
import { ref, computed } from 'vue'
import { saveToken } from '@/lib/auth'
import { useRouter } from 'vue-router'

const username = ref('')
const password = ref('')
const error = ref('')
const submitting = ref(false)

const router = useRouter()

const valid = computed(() => {
  if (username.value?.length < 1 || password.value?.length < 1) return false
  return true
})

const handleSubmit = async () => {
  error.value = ''
  submitting.value = true
  try {
    const res = await fetch(`/api/login`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ username: username.value, password: password.value })
    })
    if (res.status !== 200) throw new Error(res.statusText)
    const data: any = await res.json()
    saveToken({ id: data.id, username: data.username, sessionId: data.sessionId, name: data.name })
    router.push({ name: 'posts' })
    router
  } catch (_) {
    error.value = 'Invalid credentials'
  } finally {
    submitting.value = false
  }
}
</script>

<template>
  <h1>Login</h1>
  <form @submit.prevent="handleSubmit">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" v-model="username" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" v-model="password" />
    </div>

    <p v-if="error?.length > 0" class="error">{{ error }}</p>

    <button type="submit" :disabled="!valid || submitting">
      {{ submitting ? 'Submitting' : 'Submit' }}
    </button>
  </form>
</template>
