<script lang="ts" setup>
import { getToken } from '@/lib/auth'
import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'

const title = ref('')
const valid = computed(() => title.value.length > 3)
const router = useRouter()

const createPost = async () => {
  const token = getToken()
  const { id: userId } = token

  if (!valid.value) return
  try {
    await fetch(`/api/posts`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ title: title.value, userId })
    })
    router.push({ name: 'posts' })
  } catch (e) {
    console.log(e)
  }
}
</script>

<template>
  <RouterLink :to="{ name: 'posts' }">Back to list</RouterLink>
  <h2>Create new post</h2>

  <form @submit.prevent="createPost">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" v-model="title" />
    </div>

    <button type="submit">Create</button>
  </form>
</template>
