<script lang="ts" setup>
import { useRoute } from 'vue-router'
const route = useRoute()
</script>

<template>
  <main>
    <h1>Not found!</h1>
    <p>
      We could not find <code>{{ route.path }}</code>
    </p>
    <RouterLink to="/">Click here</RouterLink> to go back home.
  </main>
</template>
