<script lang="ts" setup>
import { getToken } from '@/lib/auth'
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const token = getToken()
const id = token?.id

const posts = ref<
  {
    id: string
    title: string
    updatedAt: Date
    author: {
      id: string
      name: string
    }
  }[]
>([])

const deleting = ref(false)

const getPosts = async () => {
  try {
    const res = await fetch(`/api/posts`)
    const data = await res.json()
    posts.value = data
  } catch (e) {
    throw new Error(e.message)
  }
}

const deletePost = async (id: string) => {
  deleting.value = true

  try {
    await fetch(`/api/posts/${id}`, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    posts.value = posts.value.filter((p) => p.id !== id)
  } catch (e) {
    console.log(e)
  } finally {
    deleting.value = false
  }
}

onMounted(() => {
  getPosts()
})
</script>

<template>
  <nav>
    <RouterLink :to="{ name: 'newPost' }"> Create post </RouterLink>
  </nav>
  <section>
    <h2>List of posts</h2>
    <div class="TableWrapper">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Updated</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="post in posts" :key="post.id">
            <td>
              <h3>
                <RouterLink
                  v-if="id === post.author.id"
                  :to="{ name: 'editPost', params: { id: post.id } }"
                >
                  {{ post.title }}
                </RouterLink>
                <span v-else>{{ post.title }}</span>
              </h3>
            </td>
            <td>
              {{ post.author.name }}
            </td>
            <td>
              {{
                Intl.DateTimeFormat(undefined, { dateStyle: 'short', timeStyle: 'full' }).format(
                  new Date(post.updatedAt)
                )
              }}
            </td>
            <td>
              <button
                v-if="post.author.id === id"
                @disabled="deleting"
                @click="() => deletePost(post.id)"
              >
                {{ deleting ? 'Deleting...' : 'Delete' }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>

<style scoped>
h2 {
  margin-bottom: 1rem;
}

.TableWrapper {
  --border: 1px solid var(--color-background-mute);
  border: var(--border);
  border-radius: 0.5rem;
  display: flex;
}

table {
  flex: 1;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
}

th {
  font-weight: bold;
  text-align: left;
}
</style>
