<script lang="ts" setup>
import { ref, computed } from 'vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const userData = computed(() => ({
  name: name.value,
  username: username.value,
  password: password.value,
  email: email.value
}))

const username = ref('')
const name = ref('')
const password = ref('')
const repeatPassword = ref('')
const email = ref('')

const error = ref('')

const valid = computed((): boolean => {
  if (
    name.value?.length < 1 ||
    username.value?.length < 1 ||
    password.value?.length < 1 ||
    repeatPassword.value?.length < 1 ||
    email.value?.length < 1
  )
    return false
  return true
})

const handleSubmit = async () => {
  error.value = ''
  if (password.value !== repeatPassword.value) {
    error.value = 'Passwords do not match'
  }

  try {
    await fetch(`/api/users`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(userData.value)
    })
    router.push('/auth')
  } catch (e) {
    console.log(e)
  }
}
</script>

<template>
  <h1>Register a new account</h1>

  <form @submit.prevent="handleSubmit">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" v-model="username" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" v-model="password" />
    </div>
    <div>
      <label for="repeat-password">Re-type password</label>
      <input type="password" id="repeat-password" v-model="repeatPassword" />
    </div>
    <div>
      <label for="name">Full name</label>
      <input type="text" id="name" v-model="name" />
    </div>
    <div>
      <label for="email">Email address</label>
      <input type="email" id="email" v-model="email" />
    </div>

    <p v-if="error?.length > 0" class="error">{{ error }}</p>

    <button type="submit" :disabled="!valid">Submit</button>
  </form>
</template>
