<script lang="ts" setup>
import { useRouter } from 'vue-router'
import { clearToken, getToken } from '@/lib/auth'

const router = useRouter()
const logout = async () => {
  const token = getToken()

  try {
    await fetch(`/api/logout`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ token: token?.sessionId })
    })
    clearToken()
    router.push('/auth')
  } catch (e) {
    console.log(e)
  }
}
</script>

<template>
  <form @submit.prevent="logout">
    <button type="submit">Logout</button>
  </form>
</template>
