@import './base.css';

#app {
  --button-bg: #e7f5a7;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

button {
  font-family: inherit;
  font-size: inherit;
  background: var(--button-bg);
  color: var(--button-color, inherit);
  padding: 0.5em;
  border-radius: 0.5rem;
  border: none;
}

button:hover {
  --button-bg: hsl(71, 80%, 61%);
}

button:disabled {
  --button-bg: var(--color-background-mute);
}

input[type='text'],
input[type='password'],
input[type='email'] {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5em;
}

form,
form > div {
  display: inline-flex;
  flex-flow: column;
}

form {
  gap: 1rem;
}

form .error {
  color: hsl(0, 100%, 71%);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
