<template>
  <nav>
    <RouterLink to="/auth/register">Register account</RouterLink>
    <RouterLink to="/auth">Login</RouterLink>
  </nav>
  <RouterView />
</template>

<style scoped>
nav {
  display: inline-flex;
  gap: 1rem;
}
</style>
