<script lang="ts" setup>
import LogoutButton from '@/components/LogoutButton.vue'
import { getToken } from '@/lib/auth'

const token = getToken()
</script>

<template>
  <header>
    <h1>Posts</h1>

    <div class="Profile">
      <p>Welcome {{ token?.name }}</p>
      <LogoutButton />
    </div>
  </header>
  <RouterView />
</template>

<style scoped>
header,
.Profile {
  display: flex;
  gap: 2rem;
  align-items: end;
}

header {
  justify-content: space-between;
}
</style>
